<footer>
    <div class="pt-3 pb-3 bg-secondary">
        <span class="d-block text-center text-white">
            <a href="https://github.com/rav89lodz/symfony-course" style="color:white" target="_blank">
                github.com/rav89lodz/symfony-course - Image Host
            </a>
        </span>
    </div>
</footer>